*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f76b8a;
}

.container{
    width:500px;
    height:fit-content;
    margin-top: 100px;
    padding: 20px;
    background-color:#fcfefe;
}
h1{
    color:#141010;
    text-align: center;
    margin-bottom: 10px;
}
input{
    border: 1px solid #282828;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}
.addBtn{
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: #66bfbf;
    color: white;
    transition: all 1s linear;
}
.addBtn:hover{
    scale: 1.1;
    color: black;
}
.delete{
    margin-left:250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 9px;
    font-size: 13px;
    font-weight: 800;
    background-color:#8dc6ff;
    color: white;
    transition: all 1s linear;
    margin: 10px;
}
.list{
    color: red;
    list-style: none;
    margin-top: 15px;
    position: relative;
}
li{
    list-style: none;
    color:#49beb7;
    font-size: 1.2rem;
    text-transform: capitalize;
}